numpy
TPOT
requests
pandasql
pandas_profiling
lazypredict
sweetviz
streamlit_pandas_profiling
datacleaner
pandas
streamlit
html5lib
tabula-py
scikit_learn==0.23
jwt
lxml
lightgbm
pytest
torch
streamlit-aggrid
firebase
python-jwt
